<div class="container">
    <div class="columns is-centered mt-5 ">
        <div class="column is-4">
            <form [formGroup]="frmUsuario" (ngSubmit)="onSubmit()">
                <div class="field">
                    <label class="label">Nomre</label>
                    <div class="control">
                      <input formControlName="nombre" class="input" type="text" placeholder="Text input">
                    </div>
                    <p *ngIf="frmUsuario.controls['nombre'].getError('required') && frmUsuario.controls['nombre'].touched" class="help is-danger">
                      El Nombre es oblitagorio</p>
                  </div>
                  <div class="field">
                    <label class="label">Apellido</label>
                    <div class="control">
                      <input formControlName="apellido" class="input" type="text" placeholder="Text input">
                    </div>
                    <p *ngIf="frmUsuario.controls['apellido'].getError('required') && frmUsuario.controls['apellido'].touched" class="help is-danger">
                      El Apellido es oblitagorio</p>
                  </div>
                  <div class="field">
                    <label class="label">Correo</label>
                    <div class="control">
                      <input formControlName="correo" class="input" type="text" placeholder="Text input">
                    </div>
                    <p *ngIf="isValidControl('correo')" class="help">This is a help text</p> 
                  </div> 
                  <div class="field">
                    <label class="label">Edad</label>
                    <div class="control">
                      <input formControlName="edad" class="input" type="number" placeholder="Text input">
                    </div>
                    <!-- <p class="help">This is a help text</p> -->
                  </div>
                 <!--  <div class="field">
                    <p class="control">
                      <button  [disabled]="!frmUsuario.valid || isSubmited" type="submit" class="button is-success">
                        Aceptar
                      </button>
                    </p>
                  </div> -->
                  <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                      <button [disabled]="!frmUsuario.valid || isSubmited" type="submit" class="button is-primary">
                        Submit
                      </button>
                    </p>
                    <p class="control">
                      <a class="button is-light" (click)="setValue()">
                        setValue
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-light" (click)="patchValue()">
                        patchValue
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-light" (click)="setValidator()">
                        validation
                      </a>
                    </p>
                  </div>
            </form>
        </div>
    </div>
</div>