<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://placehold.co/1280x960" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
       
        <div class="media-content">
          <p class="title is-4">{{paises.nombre}}</p>
          <p class="subtitle is-6">{{paises.capital}}</p>
        </div>
      </div>
  
      <div class="content">
        <strong>Moneda</strong>{{paises.Moneda}}  <br>
        <time datetime="2016-1-1">{{paises['Fecha de independencia']}}</time>
         <button (click)="onClick()" >Aceptar</button>
      </div>
    </div>
  </div>