<div class="container">
    <div class="columns mt-5 is-centered ">
        <div class="column is-4">
            <form #usrFrm="ngForm" (ngSubmit)="onSubmit()">
                <app-input-text [valor]="usuario.nombre" (sendValor)="usuario.nombre=$event" ></app-input-text>
                <app-input-text [valor]="usuario.correo" (sendValor)="usuario.correo=$event"></app-input-text>
                <!-- <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Juan" 
                      [(ngModel)]="usuario.nombre"  
                      name="nombre" 
                      #name="ngModel" 
                      required="">

                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                    <p [hidden]="name.valid || name.pristine" > Campo obligatorio </p>
                  </div> -->
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="text" placeholder="Gonzalez" 
                      [(ngModel)]="usuario.apellido" 
                      name="apellido" 
                      #apellido="ngModel"
                      required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p [hidden]="apellido.valid || apellido.pristine" > Campo obligatorio </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="number" placeholder="2" [(ngModel)]="usuario.edad" name="edad" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success">
                        Aceptar
                      </button>
                    </p>
                  </div>
            </form>
           

        </div>
    </div>
</div>